.filterBar{
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    width: 232px;
    height: 252px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.containerr{
    width: 100%;
    margin: auto;
}

.filterBar h4{
    margin-left: 20px;
    color: #4A4A4A;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

.containerInputs{
    display: flex;
    flex-direction: column;
}

.filterName {
    height: 40px;
    width: 232px;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    padding-left: 10px;
}

.filterName:hover{
    background-color: #F1FCFF;
}

.filterName label{
    margin-left: 10px;
    color: #4A4A4A;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 20px;
}

.containerInputs input {
    margin: 0px;
    margin-left: 20px;
    width: 20px;
    height: 20px;
    color: #2196F3;
    cursor: pointer;
    display: none;
}

.containerInputs label {
    position: relative;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 0;
}

.containerInputs label:before {
    content:'';
    -webkit-appearance: none;
    background-color: transparent;
    border: 1px solid #2196F3;
    padding: 9px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 10px;
    border-radius: 2px;
}

.containerInputs input:checked + label:after {
    content: '';
    display: block;
    position: absolute;
    top: 4px;
    left: 7px;
    width: 6px;
    height: 12px;
    border: solid #2196F3;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

@media screen and (max-width: 950px) {
    .filterBar{
        width: 100%;
        margin-bottom: 20px;
    }
}



